<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="org.apache.logging.log4j.core">
    <Properties>
        <Property name="logDir">log</Property>
        <Property name="logFileName">cades-sign</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender - Creates rolling log files with timestamp in the filename
             Each file contains one execution's logs with format: cades-sign.-n.log
             The 'n' is a counter for multiple executions. Timestamp is added via filePattern. -->
        <RollingFile name="File" fileName="${logDir}/${logFileName}.log"
                     filePattern="${logDir}/${logFileName}-%d{yy-MM-dd-HH-mm-ss}-%i.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <!-- Rollover immediately on startup and when size exceeds 100MB -->
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- CadesSign logger -->
        <Logger name="cades.de" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <!-- Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
